<div class="well">
  <h4>The Software Lending Library delivers software applications from Library servers to patrons using Remote Desktop services.</h4>
  <p>Use this application to schedule a time to use Adobe Photoshop&reg;, Adobe Premier&reg;, or Microsoft Office&reg;.</p>
</div>
