<%= form_tag new_reservation_path, :method => :post do %>
  <div class="sll-times">
    <div class="sll-time-fields columns">
      <ul class="list-unstyled">
        <% schedule.availability_blocks.each_with_index do |ts, i| %>
          <li>
            <div class="checkbox center-block">             
              <% ts.resources.each do |resource| %>
                <%= check_box_tag "reservation-times[#{resource.id}][]", 
                  ts.start_hour.to_formatted_s, false, {
                    :id => "reservation-times_#{resource.id}_#{i}",
                    :disabled => !resource.available
                  } %>
              <% end %>
              <label class="time-helper">
                <span><%= ts.start_hour.strftime("%I:%M%p") %></span>
                <span class="sll-light-gray">
                  - <%= ts.end_hour.strftime("%I:%M%p") %>
                </span>
              </label>
            </div>    
          </li>
        <% end %>
      </ul>
    </div>
    <hr/>
    <div class="sll-post">
      <button class="btn btn-large">Make Reservation</button>
    </div>
  </div>
<% end %>
