<%= render 'shared/intro_unit' if current_page?(root_path) %>
<%= render 'shared/sll_nav', :active => { :reservations => 'active' } %>
<div class="page-header">
  <h4>Pick a date and time to use software</h4>
</div>
<div class="row">
  <div class="span6 sll-dates">
    <%= render 'available_date_changer', :schedule => @schedule %>
    <hr class="visible-phone"/>
  </div>  
  <div class="span6">
    <%= render 'available_date_form', :schedule => @schedule %>    
  </div>
</div>
