<div class="page-header">
  <h4>How Does it Work?</h4>
</div>
<p>The concept is simple. We set up computers in a central location connected to a gigabit connection, which are loaded with premium software. Users visit the Software Lending Library site and reserve a timeslot. The reservation provides a link which initiates a remote desktop session with one of those centrally located computers. You can use software loaded on that machine until the end of the session.</p>
<p>When the session is over, the user is logged off, freeing up the machine for other people to use it.</p>
<p>Access Policy: Users can have up to three active or scheduled hour long sessions at a time.</p>

