@import url('//fonts.googleapis.com/css?family=Lato');
@import url('//fonts.googleapis.com/css?family=Play');

$white: #fff;
$sll-navbar-color: #548db0;
$font-family-sans-serif: 'Lato', sans-serif;
$yellow: #B0A553;
$sll-gray: #58585b;

$grid-gutter-width: 30px !default;

$container-desktop: ((940px + $grid-gutter-width)) !default;
$container-large-desktop: $container-desktop;

@mixin btn-styles($btn-color: #555) {
  background-color: $btn-color;
  border-color: darken($btn-color, 14%);

  &:hover,
  &:focus  {
    background-color: darken($btn-color, 12%);
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    background-color: darken($btn-color, 12%);
    border-color: darken($btn-color, 14%);
  }
}

@import "bootstrap";
// @import "bootstrap/theme";
@import "datepicker";

$container-large-desktop: $container-desktop;

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6, 
.sll-navbar ul.nav > li > a,
.info-links p,
.play {
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
}

.alert-error { @extend .alert-danger; }

.sll-post {
  .btn { @include btn-styles($btn-color: lighten($yellow, 20%)); }
  text-align:center;
}

.table-div {
  display: table;
  width: 100%;
  > div { display: table-cell; vertical-align: middle; }
}

.table-div-three {
  @extend .table-div;
  text-align: center;
  div:first-child { width: 33%; text-align: left; }
  div:last-child { width: 33%; text-align: right; }
}

footer .table-div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.sll-header {
  background-image: image-url("header-bg-2.png");
  .container {
    img { @extend .img-responsive; }
    position: relative;
    .user-links {
      font-family: 'Play', sans-serif;
      font-size: 17px;
      padding: 0 15px;
      position: absolute;
      top: 15px;
      right: 15px;
      a { color: $sll-gray; }
    }
  }
}

.ul-table {
  @media (min-width: $screen-sm-min) {
    display: table;
    width: 100%;
    > li {
      float: none; 
      display: table-cell;
      text-align: center;
      &:first-child { text-align: left; }
      &:last-child { text-align: right; }
      > a, > span {
        display: inline-block;
        font-size: 17px;      
      }
    }
  }
}

.sll-navbar ul.navbar-nav {
  @extend .ul-table;
}

footer {
  margin-top: 15px;
  background-color: $sll-gray;
  color: $white; 
  font-family: 'Play', sans-serif;
  text-align: center;
  img { @extend .img-responsive; margin: 0 auto; }
  .footer-logos {
    margin-top: 15px;
    .lib-logo {
      img { margin-left: 5px; }
      font-size: 12px;
      margin: 0 auto;
      max-width: 400px;
    }
    .sponsor-logos { margin-top: 15px; }
    .footer-links {
      margin-top: 15px;
      @extend .ul-table;
      li > a, li > span { 
        font-size: 14px;
        color: $white;
      }
    }
  }
}

html, body {
  height: 100%;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.sll-main-img { 
  @extend .img-thumbnail; 
  @extend .img-responsive;
  margin-bottom: 15px;
}

.sll-navbar {
  border-bottom: none;
  background-color: $sll-navbar-color;
  // $shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  $shadow: 2px 4px 6px rgba(0,0,0,.5);
  @include box-shadow($shadow);
  .navbar-nav > .active > a {
    // @include box-shadow(inset 0 3px 9px rgba(0,0,0,.2));
    background-color: darken($sll-navbar-color, 10%);
  }
  .navbar-nav > li > a { 
    color: $white; text-shadow: none; 
    &:hover { background-color: lighten($sll-navbar-color, 10%); }
  }
}

.sll-dates { 
  text-align: center; 
  box-sizing: border-box; 
  border-right: 1px solid $gray-lighter; 
}

.sll-time-fields {
  ul > li:first-child div.checkbox { margin-top: 0; }
  .checkbox { width: 160px; }
}

.sll-light-gray {
  color: $gray-light;
}

.visible-xs-sm {
  display: block !important;
  @media (min-width: $screen-sm-min) {
    display: none !important;
  }
}

.columns {
  @include content-columns(2);
}

.blue-well {
  @extend .well;
  background-image: none;
  background-color: $sll-navbar-color;
}

.sign-in-well {
  label { color: $white; }
  .form-group { margin: 0; }
  .btn { 
    margin-top: 25px;
    @include btn-styles($btn-color: lighten($yellow, 20%)); 
  }
}

.info-links {
  text-align: center;
  margin-bottom: 15px;
  img { 
    @extend .img-responsive; 
    display: inline-block;
  }
}

/*
.page-header {
  padding-bottom: 9px;
  margin: 20px 0;
  border-bottom: 1px solid #eeeeee;
}
*/
