<footer>
  <div class="container">
    <div class="footer-logos">
      <div class="lib-logo">
        <a href="http://www.kclibrary.org/">
          <%= image_tag "SLL_site_KCPL_footer.png" %>
        </a>
        <span>The Kansas City Public Library • 14 W. 10th St • Kansas City, Mo 64105</span>
      </div>
      <div class="row sponsor-logos">
        <div class="col-md-4">
          <a href="http://mozillaignite.org/">
            <%= image_tag "SLL_site_Mozilla_logo_REV.png" %>
          </a>
        </div>
        <div class="col-md-4">
          <a href="http://www.kcdigitaldrive.com/">
            <%= image_tag "SLL_site_DigitalDrive_logo.png" %>
          </a>
        </div>
        <div class="col-md-4">
          <a href="http://www.arsalontechnologies.net/">
            <%= image_tag "SLL_site_Arsalon_logo_REV.png" %>
          </a>
        </div>
      </div>
      <div>
        <ul class="list-unstyled footer-links">
          <li><span>&copy; 2013 Kansas City Public Library</span></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Start a software lending library in your community</a></li>
        </ul>
      </div>   
    </div>
  </div>
</footer>
