<div class="sll-header">
  <div class="container">
    <div class="vertical-center">
      <%= image_tag 'SLL_site_logo_header.png' %>
    </div>
    <div class="vertical-center lib-logo-last">
      <%= image_tag 'SLL_site_KCPL_header.png' %>
    </div>
  </div>
</div>
