<div class="sll-header">
  <div class="container">
    <%= image_tag "sll-logo-215-3.png" %>
    <div class="user-links">
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %> | 
      <%= link_to "My reservations", reservations_path %>
    </div>
  </div>
</div>
