<div class="footer-logos">
  <div class="mozilla padded">
    <a href="https://mozillaignite.org">
      <%= image_tag "SLL_site_Mozilla_logo.png" %>
    </a>
  </div>
  <div class="arsalon padded">
    <a href="http://www.arsalon.net/">
      <%= image_tag "SLL_site_Arsalon_logo.png" %>
    </a>
  </div>
  <div class="padded">
    <a href="http://www.kcdigitaldrive.com">
      <%= image_tag "kcdd.jpg", :style => 'max-height: 100px;' %>
    </a>
  </div>
  <div class="padded">
    <p>Kansas City Public Library<br/>
    14 West 10th Street<br/>
    Kansas City, Missouri 64105<br/>
    <a href="http://www.kclibrary.org">kclibrary.org</a>
    </p>
  </div>
</div>
